# Tạo Dashboard để thể hiện dữ liệu về khách sạn

### Ý tưởng:
##### Xuất phát từ nhu cầu thống kê số lượng khách sạn đang hợp tác, lọc ra top các khách sạn có giá rẻ nhất theo từng thành phố, hạng sao.
### Khả năng mở rộng dự án:
##### - Thêm dữ liệu về doanh thu/ số phòng đã book để lọc ra top khách sạn gửi khách nhiều nhất 
##### - Thêm đánh giá của khách hàng và lọc ra top khách sạn có chất lượng tốt, v.v.

In [93]:
import pandas as pd #pandas đọc dữ liệu theo cấu trúc bảng 
import matplotlib.pyplot as plt #matplotlib để vẽ biểu đồ
from ipywidgets import interact #interact để tạo bộ lọc

# Nhập dữ liệu từ file excel vào dataframe
hotel = pd.read_excel('du_lieu_khach_san.xlsx')  # Cần đảm bảo file này ở cùng thư mục với notebook
hotel.head()

        City   Hotel  Star  Price
0      Hanoi  Madana     3   1564
1     Hoi An   Crist     3   1562
2  Hai Phong    Five     2   3526
3     Hoi An  Little     4   4521
4      Hanoi     YES     4   1235

In [92]:
# Khai báo hàm
def plot_dual_dashboard(city, star): #khai báo hàm có 2 tham số city và star
    total = hotel['City'].value_counts().sort_index() 
    print(f'Total number of hotels in each city:')
    print(total.to_string()) #ép kiểu thành string, nếu không sẽ hiển thị dòng Name: count, dtype: int64 ở cuối
    print()#tạo thêm space giữa 2 biểu đồ cho đẹp

    #tạo bộ lọc
    filtered_city = hotel[hotel['City'] == city] #tạo bộ lọc theo city, hotel['City'] để gọi ra series dữ liệu thuộc cột City trong dataframe hotel
    
    # Biểu đồ 1: Đến số lượng khách sạn theo hạng sao
    plt.figure(figsize=(5, 3)) #kích cỡ của biểu đồ
    star_counts = filtered_city['Star'].value_counts().sort_index() 
    #value_counts đếm số lần xuất hiện theo giá trị star, sort_index để sắp xếp hiển thị lần lượt theo số sao tăng dần
    
    plt.bar(star_counts.index.astype(str), star_counts.values.astype(int), color='green')
    #hàm trong matplotlib để vẽ biểu đồ, ép kiểu cho các chỉ số (string) thành string, ép kiểu giá trị đã đếm theo star thành kiểu int
   
    plt.title(f'Count of Hotels by Star Rating in {city}')
    plt.xlabel('Star Rating')
    plt.ylabel('Count')
    plt.grid(True) #thêm lưới hoặc không
    plt.show()
    print()

    # Biểu đồ 2: Top 3 khách sạn có giá thấp nhất
    filtered_star = filtered_city[filtered_city['Star'] == star]
    top_3_lowest_priced = filtered_star.nsmallest(3, 'Price')

    print(f'Top 3 Lowest Priced {star} Stars Hotels in {city}:')
    print(top_3_lowest_priced[['Hotel', 'Price']])
    print() 

    # Plot bar chart for top 5 lowest priced hotels
    plt.figure(figsize=(5, 3))
    plt.bar(top_3_lowest_priced['Hotel'], top_3_lowest_priced['Price'], color='green')
    plt.title(f'Top 3 Lowest Priced {star} Stars Hotels in {city}')
    plt.xlabel('Hotel')
    plt.ylabel('Price')
    plt.grid(True) #thêm lưới hoặc không
    plt.tight_layout()
    plt.show()

# Create interactive dashboard using interact
interact(plot_dual_dashboard, city=hotel['City'].unique(), star=hotel['Star'].unique());

#interact(tên hàm muốn tương tác, đối số để tạo dropdown)
#cú pháp unique() trong pandas để trích xuất danh sách

interactive(children=(Dropdown(description='city', options=('Hanoi', 'Hoi An', 'Hai Phong', 'HCMc'), value='Ha…